@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5 , #fff );
    min-height: 100vh;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.pokedex {
    width: 100%;
    max-width: 420px;
    aspect-ratio: 3 / 4.2;
    background: url('../images/pokedex.png') no-repeat center;
    background-size: contain;
    position: relative;
    filter: drop-shadow(0 12px 20px rgba(0, 0, 0, 0.25));
}

.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-62%, 20%);
    object-fit: contain;
    height: 20%;
    image-rendering: pixelated;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 55%;
    right: 25%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

.form_search {
    position: absolute;
    width: 65%;
    top: 66%;
    left: 13%;
}

.input_search {
    width: 100%;
    padding: 4%;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
    background: #f2f2f2;
}

.buttons {
    position: absolute;
    bottom: 9%;
    left: 50%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
}

.button {
    width: 30%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #fff;
    background: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    cursor: pointer;
}

.button:active {
    box-shadow: inset -2px 2px 0 #222;
    font-size: 0.9rem;
}
